html{
    font-size: 22;
}
body{
    background: url(assets/images/machu-picchu-hike-1.jpg) 
    no-repeat center center fixed;
    background-size: cover;
    image-rendering: -webkit-optimize-contrast;
    background-color: black;
    width: 100%;
    height: 100vh;
    margin: 0;
}

h1, p{
    text-align: center;
    color: cornsilk;
}

a{
    color: yellow;
}

a:visited{
    color: orangered;
}

a:hover, a:active{
    color:black;
}

ul{
    color: cornsilk;
}
